body{
     text-align: center;
     background-image: url("img/matematicas.jpg");
     font-family:'Anton', sans-serif;
}
table{
     margin:auto;
}

 h1{
   color: whitesmoke;
}
 .caja{
       margin:0 auto ;   
         padding:10px;
}
.celda{
       width:200px;
       height:200px;
}
a{
    display: block;
    width: 100%;
    height: 100%;
}
input{
    text-align:center;
    text-decoration: none;
    font-size: 2em;
    display:inline-block;
    color: #FFF;
    background: #000000;
    padding: 15px 30px;
    white-space: nowrap;
    margin: 10px 5px;
}
#turno{
    width: 40%;
    height:800px;
    float: left;
   
}
.derecha{
    width: 40%;
    height:800px;
    float: right; 
}
.white{
     color: whitesmoke;
    font-size: 1em;
}
#respuesta{
    height: 150px;
    color: red;
    font-size: 3em;
    }